@model IEnumerable<Projet.Models.Interview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.JobApplication.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InterviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InterviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InterviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
