@model IEnumerable<Projet.Models.Interview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.JobApplication.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status == "Scheduled")
                {
                    if (item.ScheduledDate < DateTime.Now)
                    {
                        // Interview is scheduled and the date is in the past
                        <a asp-action="ChangeDate" asp-route-id="@item.InterviewId" class="btn btn-warning">Change Date</a>
                        <a asp-action="CancelInterview" asp-route-id="@item.InterviewId" class="btn btn-danger">Cancel</a>
                    }
                    else
                    {
                        // Interview is scheduled and the date is in the future
                        <a asp-action="GiveFeedback" asp-route-id="@item.InterviewId" class="btn btn-success">Provide Feedback</a>
                    }
                }
              
            </td>
        </tr>
}
    </tbody>
</table>