@model IEnumerable<Projet.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<p class="pageTitle">Jobs</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table ">
    <div class="ligne1">
        <div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Positions)
        </div>
        <div>
            Applications
        </div>
        <div>
            Interviewed
        </div>
        <div>
            Rejected
        </div>
        <div></div>

    </div>
    <div class="jobs">
        @foreach (var item in Model)
        {
            <div class="job">

                <div>
                    <h5>
                        <span class="icon  material-icons">
                            work
                        </span>
                    </h5>
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Positions)
                </div>

                <div>
                    nb0
                </div>
                <div>
                    nb1
                </div>
                <div>
                    nb2
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.JobId">
                        <span class="  material-icons">
                            edit
                        </span>
                    </a>
                </div>
                <div>
                    <a asp-action="Delete" asp-route-id="@item.JobId">
                        <span class="  material-icons">
                            delete
                        </span>
                    </a>
                </div>

            </div>
        }
    </div>
</div>
